/* Stile per il div con posizione "absolute" */
    .absolute {
        position: absolute;
        top: 30px;
        right: 30px; /* 30px dal bordo destro */
        width: 100px;
        height: 100px;
        background-color: red;
        color:#ffffff;
        text-align: center;
    }

    /* Stile per il div con posizione "fixed" */
    .fixed {
        position: fixed;
        bottom: 20px; /* 20px dal bordo inferiore */
        right: 20px; /* 20px dal bordo destro */
        width: 100px;
        height: 100px;
        background-color: blue;
        color:#ffffff;
        text-align: center;
    }

    /* Stile per il contenitore e il div con posizione "sticky" */
    .container {
        width: 200px;
        position: relative;
    }

    .sticky {
        position: sticky;
        top: 50px;
        background-color: green;
        width: 100px;
        height: 100px;
        margin-top: 20px;
        margin-bottom: 20px;
        color:#ffffff;
        text-align: center;
    }