
/* Media query per testo verde nell'header */
@media screen and (max-width: 600px) {
     h1 {
        color: #008000;
    }
}


img {
    width: 100%;
}

/* Media query per ridimensionamento delle immagini nel main */
@media screen and (max-width: 800px) {
     img {
        width: 49%;
    }
}